.range-slider
    position: relative
    display: -webkit-box
    display: flex
    -webkit-box-orient: horizontal
    -webkit-box-direction: normal
    flex-direction: row
    -webkit-box-align: center
    align-items: center
    padding: 0 60px